<!-- include header -->
<%- include('common/header') %>

<h3>探し方メニュー</h3>

<div class="row">
  <div class="col-xs-12">
    <a href="/list/map" class="btn btn-lg btn-primary">現在地から探す</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="btn btn-lg btn-default">Myスポットから探す</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="btn btn-lg btn-default">お気に入りから探す</a>
  </div>
</div>

<!-- include footer -->
<%- include('common/footer') %>
